<header class="app-header">
    <mat-toolbar>
        <span class="app-name">Treco Lista</span>
        <span class="spacer"></span>
        <a class="link-header" mat-button routerLink="/home">Inicio</a>
        <a class="link-header" mat-button routerLink="/">Lista</a>
        <a class="link-header" mat-button routerLink="/categoria">Categoria</a>
        <span class="spacer"></span>
        <button mat-icon-button aria-label="Notificações">
          <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button aria-label="Sua Conta">
          <mat-icon>account_circle</mat-icon>
        </button>
    </mat-toolbar>
</header>
  