.login-component {
    max-width: 35%;
    min-height: 74%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  
    .login {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 68px;
      background-color: aliceblue;
      border-radius: 12px;
    }
  
    .form-container {
      display: flex;
      flex-direction: column;
      padding-bottom: 16px;
      padding-top: 16px;
  
      mat-card-header {
        margin-bottom: 24px;
        margin-top: 24px;
        justify-content: center;
  
        mat-card-title {
          font-size: 32px;
          font-weight: 400;
          font-family: "Oxygen Mono", monospace;
        }
      }
  
      mat-card-content {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
  
      mat-card-actions {
        display: flex;
        flex-direction: column;
        align-items: normal;
  
        button {
          margin: 0 8px;
          margin-bottom: 16px;
        }
      }
  
      p {
        font-size: 16px;
        font-weight: 500;
      }
  
      a {
        cursor: pointer;
  
        &:active {
          color: #26a6e1;
        }
      }
    }
  }
  