<h2>{{variantLabel}}</h2>
<hr>
<div class="product-list-container">
    <button mat-icon-button class="nav-button" aria-label="Previous" (click)="scrollLeft()">
        <mat-icon>chevron_left</mat-icon>
    </button>
    <div class="product-list">
        @for (product of products; track product.id) {
            <app-card-product [product]="product"> </app-card-product>
        }
    </div>
    <button mat-icon-button class="nav-button" aria-label="Next" (click)="scrollRight()">
        <mat-icon>chevron_right</mat-icon>
    </button>
</div>