.product-list-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 32px;
}

.product-list {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.nav-button {
    background: rgba(252, 252, 252, 0.258);
}

h2 {
    margin-top: 32px;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin-bottom: 16px;
}