.action-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.search-input {
    width: 260px;
}
  
h2 {
    margin-top: 0;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin-bottom: 16px;
}

.product-list-container {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.product-list {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.nav-button {
    background: rgba(252, 252, 252, 0.258);
}