@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');

html, 
body { 
    height: 100%; 
}
body {
     margin: 0; 
     font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.content-container {
    max-width: 748px;
    width: 100%;
}

.form-container{
    display: flex;
    justify-content: center;
}

.form-content-container{
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
}

.card-title{
    padding: 8px;
    margin: 8px;
    text-align: center;
}