@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');

html, 
body { 
    height: 100%; 
}
body {
     margin: 0; 
     font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.snackBarPosition {
    padding-top: 18%;
}

h2 {
    margin-top: 32px;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin-bottom: 16px;
}